.book-searchbar {
    padding: 1rem 0;
    flex-direction: row-reverse;
    align-items: center;
    height: max-content;
    background: rgba(255, 255, 255, 0.9)
}

.book-searchbar .p-sidebar-header {
    padding: 0.5rem
}

.book-searchbar .p-sidebar-content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0;
}