.content .p-tabmenuitem:nth-child(3) {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

.content .p-tabmenu-nav {
    position: relative
}

.content .p-tabmenu-nav .p-menuitem-text {
    white-space: nowrap;
}

.media-searchbar {
    padding: 1rem 0;
    flex-direction: row-reverse;
    align-items: center;
    height: max-content;
    background: rgba(255, 255, 255, 0.9)
}

.media-searchbar .p-sidebar-header {
    padding: 0.5rem
}

.media-searchbar .p-sidebar-content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0;
}